body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#outergrid {
    height: 720px;
    width: 720px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0px;
    align-self: center;
}

button {
    align-self: center;
    border-radius: 15px;
    padding: 10px 50px;
}

#buttoncontainer {
    display: flex;
    padding: 50px;
    justify-content: space-around;
}

.verticalgrid {
    display: flex;
    justify-content: space-evenly;
    gap: 0px;
    flex-grow:1;
}

.horizontalgrid{
    border: 1px solid rgba(0, 0, 0, .5);
    gap: 0px;
    flex-grow: 1;
}
