body {
    display: flex;
    justify-content: center;
    align-content: center;
}

#outergrid {
    height: 720px;
    width: 720px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0px;
}

.verticalgrid {
    display: flex;
    justify-content: space-evenly;
    gap: 0px;
    flex-grow:1;
}

.horizontalgrid{
    border: 1px solid rgba(0, 0, 0, .5);
    gap: 0px;
    flex-grow: 1;
}

.hovered {
    background-color: black;
}